@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1571669377840'); /* IE9 */
  src: url('iconfont.eot?t=1571669377840#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABpwAAAJoAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIE3ATYCJAMICwYABCAFhG0HOBvlBRHVi3eyHweO2zy5PefdLUWOQhNZ/xg8n2vV+0l6NgsMamolIarVAHQgLJBQVP5OETlAebo3N0NjVIRiSc7zfvqOdKz0Qn4GwB/3Tv9vAAUy33mXy9yDugDjrQHuhVFkRQFm3KO882uoBvI+BPAjiQKkqqapC4sBlgkgS/Oz49iCG4MxMYvgadhrkAscrDpUL4Dz6PPyB69YUDgaKGibqZ6i7Oc3TNAb7sZQgOABQRx2AA0UAAakqzHcgkYMQeMXNqTBsXIFfn5z3UCLHFWFmL8OsgMASODsZ+J43EfNVgAYPu4FmiedBSYgIDBw8fXrrjdvut+96337doiEPTEz/9Xr1wNHN2Dj5vFtkc1bPabAfX2hnj9XF8gImH5DlrCyqu/c0VywKpm8QZbN+N33fWsfRAha33W/Bzbf715ExPc+ZcDPdI96iwACT2JhYzS46L/1NwB8ePV9M1IahlnBns8i8N84A9uMzQOZegC2sCi8uRQU4GfbcMEextep8sibNAq2wDGg8CERNJYM1OALwMGfQvBgKQU/8qk97E84y2jE+AJ57DIQQngMiiCegSaEl6jBfwGHKP6BhxDR4EePhJ/pT5aY0a9yGZWgBf2DaKg50skY517Rv4riPC8iPpHP6IN1WsqxCzbkJTacb7+JOHBMFQ72GJZC0JkSGpmCSN/n2TW9aDJUh5FKRiVoQf8gGmou6C5j5f1X9K+iuKOlRf9EPuPksE7LAPQiboNaHuWZ8+03EQeOqcLBZmEpBL15VkIjU5gQ7PuMndxQ8bS9tP7dHsAPUCjBRE3Q7HgTmhIU/QM1Pww=') format('woff2'),
  url('iconfont.woff?t=1571669377840') format('woff'),
  url('iconfont.ttf?t=1571669377840') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1571669377840#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  color: #f8d3a7;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gantanhaozhong:before {
  content: "\e8e5";
}

